<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2  col-md-3">
        <div class="single-footer-widget">
          <h6>Nuestas Habilidades</h6>
          <ul class="footer-nav">
            <li> Tomografías </li>
            <li> Panorámica </li>
            <li> Cefálica </li>
            <li> Carpal </li>
            <li> ATM </li>
            <li> Oclusal </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2  col-md-3">
        <div class="single-footer-widget">
          <ul class="footer-nav">
            <li> Periapical </li>
            <li> Fotografía clínica </li>
            <li> Modelos de estudio (Entrega en 24h00)</li>
            <li>  Cefalometria </li>
            <li>  Servicio de Vacum (Proceso y procedimiento terminado)</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-6">
        <div class="single-footer-widget mail-chimp">
          <h6 class="mb-20">Dirección</h6>
          <p>
            Calle Bolivar 7-63 y Pedro Moncayo <br>
            Centro Comercial "Paseo Bolíavar" - Ibarra
          </p>
          <p>(06)2604 538</p>
          <p>
            Calle Bolivar 1303, entre Quito y Quiroga <br>
            Centro comercial "Randy Way" Local 3 - Otavalo
          </p>
          <p>(06)2927 420</p>
          <p>Celular: +593 99 439 4807</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 footer-social">
        <div class="carta-box">
          <div class="carta">
            <div class="cara">
              <img src="assets/img/matriz.jpg" width="100%">
            </div>
            <div class="cara detras">
              <img src="assets/img/clinicaotavalo.jpg" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0">
        <a class="dropdown-item" routerLink="/login"><i class="fa fa-user"></i>&nbsp;&nbsp;&nbsp;Acceso Al Sistema</a>
      </p>
      <br> <br>
      <p class="col-lg-8 col-sm-12 footer-text m-0">
        Copyright &copy; {{anio}} Diseñado y Codificado por <a href="https://dte-ecuador.org" target="_blank">DT MOWED</a>
      </p>
    </div>
  </div>
</footer>
