<footer class="footer-area section-gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-6">
        <div class="single-footer-widget">
          <h6>Nuestas Habilidades</h6>
          <ul class="footer-nav">
            <li>Radio grafía 2D </li>
            <li>Radio Grafía 3D</li>
            <li>Tomografía 180</li>
            <li>Tomografía 360</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-6">
        <div class="single-footer-widget mail-chimp">
          <h6 class="mb-20">Contáctenos</h6>
          <p>
            Calle Bolivar 7-63 y Pedro Moncayo - Ibarra
          </p>
          <p>+593 99 439 4807</p>
          <p>
            Calle Bolivar, y Calle Quiroga - Otavalo
          </p>
          <p>+593 99 439 4807</p>
          <!--<br><br>-->
          <!--<a href="https://www.facebook.com/boris.almeida.75" target="_blank"><i class="fa fa-facebook"></i></a>-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
          <!--<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>-->
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 footer-social">
        <div class="carta-box">
          <div class="carta">
            <div class="cara">
              <img src="assets/img/matriz.jpg" width="100%">
            </div>
            <div class="cara detras">
              <img src="assets/img/clinicaotavalo.jpg" width="100%">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom d-flex justify-content-between">
      <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy; {{anio}} All rights reserved | by <a href="https://dte-ecuador.org" target="_blank">DTE</a>
    </div>
  </div>
</footer>
