<ul class="nav nav-right nav-tabs|pills admin-nav" id="navId">
  <div class="banner__logo-box">
    <img src="/assets/img/logo.png" alt="Logo" class="banner__logo" width="150px">
  </div>
  <span class="space"></span>
  <li class="nav-item">
    <a routerLink="/admin/clientes"
       class="nav-link"
       [class.active]="router.url === '/admin/clientes' ||
       router.url === '/admin/clientes/listar' ||
       router.url === '/admin/clientes/crear'">Clientes</a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/radiografias"
       class="nav-link"
       [class.active]="router.url === '/admin/radiografias' ||
       router.url === '/admin/radiografias/listar' ||
       router.url === '/admin/radiografias/crear'">Radiografías</a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/consultas"
       class="nav-link"
       [class.active]="router.url === '/admin/consultas' ||
       router.url === '/admin/consultas/listar' ||
       router.url === '/admin/consultas/crear'">Consultas</a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/reportes"
       class="nav-link"
       [class.active]="router.url === '/admin/reportes' ||
       router.url === '/admin/reportes/listar' ||
       router.url === '/admin/reportes/crear'">Reportes</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false"><span class="fa fa-user-circle"></span></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#tab2Id"><i class="fa fa-user"></i> Perfil</a>
      <a class="dropdown-item" href="#tab2Id"><i class="fa fa-lock"></i> Cambiar Contraseña</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#tab3Id"><i class="fa fa-power-off"></i> Cerrar Sesión</a>
    </div>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="tab1Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tabs4Id" role="tabpanel"></div>
  <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
</div>

<script>
  $('#navId a').click(e => {
    e.preventDefault();
    $(this).tab('show');
  });
</script>
