<div class="container">
  <h3 class="header-title">Registrar Paciente</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="clienteGroup" (submit)="store()">
            <div class="row">
              <div class="col-md-6">
                <section class="form-group">
                  <label for="tipo_documento">Tipo de Documento</label>
                  <select name="tipo_documento"
                          class="form-control"
                          formControlName="tipo_documento"
                          id="tipo_documento">
                    <option value="cedula">Cedula</option>
                    <option value="ruc">RUC</option>
                    <option value="pasaporte">Pasaporte</option>
                  </select>
                </section>
                <section class="form-group">
                  <label>Documento</label>
                  <div class="row">
                    <div class="col-8">
                      <input type="text" class="form-control" placeholder="Documento" formControlName="documento">
                    </div>
                    <div class="block">
                      <p class="circle">
                        <span *ngIf="mostrar">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                        </span>
                      </p>
                    </div>
                    <div class="col-2 text-right">
                      <button class="btn btn-primary" (click)="searchPerson()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </section>
                <section class="form-group">
                  <label for="razon_social">Razón Social</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="razon_social" name="razon_social" id="razon_social">
                </section>
                <section class="form-group">
                  <label for="direccion">Dirección</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="direccion" name="direccion" id="direccion">
                </section>
              </div>
              <div class="col-md-6">
                <section class="form-group">
                  <label for="fecha_nacimiento">Fecha Nacimiento</label>
                  <input type="date" class="form-control" formControlName="fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento">
                </section>
                <section class="form-group">
                  <label for="celular">Celular</label>
                  <input type="text" maxlength="10" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false" class="form-control" formControlName="celular" name="celular" id="celular">
                </section>
                <section class="form-group">
                  <label for="genero">Seleccione Genero</label>
                  <select name="genero"
                          class="form-control"
                          formControlName="genero"
                          id="genero">
                    <option value="FEMENINO">FEMENINO</option>
                    <option value="MASCULINO">MASCULINO</option>
                  </select>
                </section>
                <section class="text-right">
                  <button [disabled]="clienteGroup.status === 'INVALID'"
                          class="btn btn-primary">Guardar</button>&nbsp;&nbsp;
                  <a routerLink="/admin/clientes" class="btn-danger-link">Cancelar</a>
                </section>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
