<div class="container">
  <h3 class="header-title">Listar Profesionales</h3>
  <div class="row">
    <div class="col-8">
      <a
              routerLink="/admin/profesionales/crear"
              class="btn-create"><i class="fa fa-check"></i> Crear Profesionales</a>
    </div>
    <div class="col-4">
      <form (submit)="buscar(valor)" class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" [(ngModel)]="valor" name="valor">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive" *ngIf="profesionales !== null">
        <table class="table table-hover">
          <thead style="background-color: #0f192a">
          <tr>
            <th>N.</th>
            <th>Documento</th>
            <th>Razón Social</th>
            <th>Especialidad</th>
            <th>Dirección</th>
            <th>Email</th>
            <th>Celular</th>
            <th class="text-center">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let profesional of profesionales.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ profesional.documento }}</td>
            <td>{{ profesional.razon_social }}</td>
            <td>{{ profesional.especialidad }}</td>
            <td>{{ profesional.direccion }}</td>
            <td>{{ profesional.email }}</td>
            <td>{{ profesional.celular }}</td>
            <td class="text-center">
              <button
                      routerLink="/admin/profesionales/editar/{{profesional.profesional_id}}"
                      class="btn btn-xs btn-info">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                      (click)="destroy(profesional, i)"
                      class="btn btn-xs btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="profesionales !== null && profesionales.last_page > 1" class="paginacion text-center">
        <div>
          Página {{ profesionales.current_page }} de {{ profesionales.last_page }}
        </div>
        <button class="paginacion-btn" (click)="loadPagination(profesionales.first_page_url)"><i class="fa fa-backward"></i></button>
        <button class="paginacion-btn" (click)="loadPagination(profesionales.prev_page_url)" [disabled]="profesionales.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
        <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == profesionales.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
        <button class="paginacion-btn" (click)="loadPagination(profesionales.next_page_url)" [disabled]="profesionales.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
        <button class="paginacion-btn" (click)="loadPagination(profesionales.last_page_url)"><i class="fa fa-forward"></i></button>
      </div>
    </div>
  </div>
</div>
