<nav class="banner">
  <div class="banner__logo-box">
    <a href="/"><img src="/assets/img/logo.png" alt="Logo" class="banner__logo" width="150px"></a>
  </div>
  <ul class="navegacion">
    <li routerLinkActive="/"><a routerLink="about">Sobre Nosotros </a></li>
    <li routerLinkActive="consultas"><a routerLink="consultas">Consultas </a></li>
    <li routerLinkActive="contactos"><a routerLink="contactos">Contactos </a></li>
  </ul>
  <div id="btnbtn" class="boton">
    <a class="btn-login" routerLink="login">Iniciar Sesión &nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i></a>
  </div>
</nav>
