<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <div id="wrapper">
                <form name="login-form" class="login-form" action="" method="post">
                  <div class="header">
                    <h1>Iniciar Sesion</h1>
                    <span>Fill out the form below to login to my super awesome imaginary control panel.</span>
                  </div>
                  <div class="content">
                    <input name="username" type="text" class="input username" placeholder="Usuario" />
                    <div class="user-icon"></div>
                    <input name="password" type="password" class="input password" placeholder="Contraseña" />
                    <div class="pass-icon"></div>
                  </div>
                  <div class="footer">
                    <input type="submit" name="submit" value="Ingresar" class="button" />
                  </div>
                </form>
              </div>

            </div>
            <div class="col-md-4">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fboris.almeida.75&tabs=timeline&width=0&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact-page Area -->




