<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex justify-content-center align-items-center">
      <div class="banner-content col-lg-9 col-md-12 justify-content-center">
        <br><br><br><br><br><br>
        <h6 class="text-uppercase">LIDERES EN TOMOGRAFIA DENTAL</h6>
        <h1>
          Nordent Rx
        </h1>
        <p class="text-white mx-auto">
          Es más sencillo obtener lo que se desea con una sonrisa que con la punta de la espada (William Shakespeare)
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start open-hour Area -->
<section class="open-hour-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 open-hour-wrap">
        <h3>Horario de Atención</h3>
        <div class="date-list d-flex flex-row justify-content-center">
          <ul class="colm-1">
            <li>Lunes a Viernes</li>
            <li>Sábado</li>
          </ul>
          <ul class="colm-2">
            <li><span>:</span>  <span class="circle"></span> 9h00 a 13h00 y 15h00 a 19h00</li>
            <li><span>:</span>  <span class="circle"></span>  9h00 a 13h00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End open-hour Area -->
<section class="wrapper">
  <div class="container-fostrap">
      <h2 class="heading">
        QUE NOS HACE ÚNICOS
      </h2>
    <br>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s1.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  La radiografía panorámica
                </h4>
                <p class="">
                  Permite obtener una visión detallada y de conjunto del estado de la salud oral de un paciente: especialmente de aquellos aspectos que quedan ocultos en una exploración clìnica.
                </p>
              </div>
              <div class="card-read-more">
                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s2.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  Telerradiografìa o radiografía lateral de perfil
                </h4>
                <p class="">
                  Fundamental en los estudios previos a los tratamientos de ortodoncia, ya que permiten medir los ángulos y proporciones de los huesos de la cara del paciente y de este modo conocer la relación entre sus estructuras faciales.
                </p>
              </div>
              <div class="card-read-more">
                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s3.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  Radiografía Periapical
                </h4>
                <p class="">
                  Forma parte de las denominadas radiografías intraorales, es decir, aquellas que se realizan mediante la colocación de placas radiológicas de diferente tamaño dentro de la boca, con el fin de obtener imágenes completas de uno o dos dientes  y estudiarlo en su totalidad: ápice, corona, raíz, tejido óseo y espacio para el lligamneto periodontal periodontal.
                </p>
              </div>
              <div class="card-read-more">
                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s4.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  Radiografía Bite wing
                </h4>
                <p class="">
                  Corresponde a la técnica radiográfica intraoral, llamada tambien “aleta de mordida”; este estudio imagenológico se centra en la zona de corona de dientes, esto permite observar con detalle la presencia de caries proximales, el grado de reabsorción ósea a nivel cervical y estado de obturaciones.
                </p>
              </div>
              <div class="card-read-more">
                <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s5.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  Tomografía Cone Beam TCCB
                </h4>
                <p class="">
                  Permite la creación de imágenes en tiempo real en las tres dimenciones deol espacio (Axial, Corinal y Sagital) ademas de cortes curbos u oblicuos; la relación es de 1:1 es decir que lo que se mide en la tomografía es la medida que tiene el paciente a cortes muy finos.
                </p>
              </div>
              <div class="card-read-more">
                <a href="https://codepen.io/wisnust10/full/ZWERZK/" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card"><br>
              <img src="assets/img/s6.jpg" alt="">
              <div class="card-content">
                <h4 class="card-title">
                  Fotografía Clínica
                </h4>
                <p class="">
                  Permite al clínico estudiar detenidamente los tejidos blandos e implantación de los dientes en sus arcadas durante la etapa de planificación de los tratamientos odontológicos, Además de la importancia clínica de la fotografía, es necesario recalcar la utilidad de la misma para investigación y publicación de la especialidad.
                </p>
              </div>
              <div class="card-read-more">
                <a href="http://www.fostrap.com/2016/03/5-button-hover-animation-effects-css3.html" class="btn btn-link btn-block">
                  Leer más...
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start home-about Area -->
<section class="home-about-area section-gap relative">
  <div class="container">
    <div class="row align-items-center justify-content-end">
      <div class="col-lg-6 no-padding home-about-right">
        <h1 class="text-white">
         SOBRE NOSOTROS
        </h1>
        <br>
        <p>
          Un equipo de apoyo a profesionales en odontología, pioneros en el mercado durante 18 años, consolidado a través del tiempo, ejecutando técnicas innovadoras siendo especialistas en la toma y diagnóstico de imágenes dentales.
        </p>
        <div class="row no-gutters">
          <div class="single-services col">
            <span class="lnr lnr-diamond"></span>
            <a href="#">
              <h4 class="text-white">Misión</h4>
            </a>
            <p>
              Brindar seguridad y confianza a sus pacientes, con tomografías y radiografías de la zona oral y máxilofacial con equipos de última generación operdos por personal capacitado, lo que le permite planificar sus tratamientos evitando los perjuicios de u n trabajoa ciegas.
            </p>
          </div>
          <div class="single-services col">
            <span class="lnr lnr-eye"></span>
            <a href="#">
              <h4 class="text-white">Visión</h4>
            </a>
            <p>
              Somos un centro de tomografía y radiografía digital especialmente dedicado a la región oral (dental) y maxilofacial.
              Gracias a nuestros servicios la información que proveemos  permite a los profesionales en Odontología, tener acceso en la planificación de los casos de sus pacientes con la última tecnología en diagnóstico por imágenes, renovándola y actualizándola permanentemente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Start feature Area -->
<section class="feature-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">OFRECEMOS</h1>
          <p>No busques más, somos especialistas en diagnóstico por imágenes dentales.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Tomografías</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Panorámica</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Panorámica</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Cefálica</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>ATM</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Oclusal</h6>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Periapical</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Fotografía clínica</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Modelos de estudio (Entrega en 24h00)</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Cefalometria</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="single-feature d-flex flex-row">
          <div class="icon">
            <span class="lnr lnr-indent-decrease"></span>
          </div>
          <div class="details">
            <h6>Servicio de Vacum (Proceso y procedimiento terminado)</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="assets/img/s1.jpg" alt="First slide">
                <img src="assets/img/s2.jpg" alt="First slide">
                <img src="assets/img/s3.jpg" alt="First slide">
                <img src="assets/img/s4.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="assets/img/s1.jpg" alt="First slide">
                <img src="assets/img/s2.jpg" alt="First slide">
                <img src="assets/img/s3.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="assets/img/s1.jpg" alt="First slide">
                <img src="assets/img/s2.jpg" alt="First slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="assets/img/s6.jpg" alt="First slide">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-none d-lg-block">
              <div class="slide-box">
                <img src="assets/img/s5.jpg" alt="Second slide">
                <img src="assets/img/s6.jpg" alt="Second slide">
                <img src="assets/img/s1.jpg" alt="Second slide">
                <img src="assets/img/s2.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-md-block d-lg-none">
              <div class="slide-box">
                <img src="assets/img/s5.jpg" alt="Second slide">
                <img src="assets/img/s6.jpg" alt="Second slide">
                <img src="assets/img/s7.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-none d-sm-block d-md-none">
              <div class="slide-box">
                <img src="assets/img/s6.jpg" alt="Second slide">
                <img src="assets/img/s6.jpg" alt="Second slide">
              </div>
            </div>
            <div class="d-block d-sm-none">
              <img class="d-block w-100" src="assets/img/s6.jpg" alt="Second slide">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->
