<div class="container">
  <h3 class="header-title">Consultas</h3>
  <div class="row">
    <div class="col-4">
      <a
        routerLink="/admin/radiografias"
        class="btn-create"><i class="fa fa-check"></i> Nueva consulta</a>
    </div>
    <div class="col-8">
      <form
        (submit)="buscar()"
        [formGroup]="buscarGroup"
        class="form-inline form-right">
        <div class="form-group">
          <label for=""></label>
          <input
            type="search"
            name="valor" id=""
            formControlName="valor"
            class="form-control" placeholder="Buscar..." aria-describedby="helpId">
        </div>
        <button class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="consultas !== null">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>N.</th>
            <th>Numero de Factura</th>
            <th>Nombres</th>
            <th>Celular</th>
            <th>Valor</th>
            <th>Radiografía</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let consulta of consultas.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ consulta.numero_factura }}</td>
            <td>{{ consulta.nombres }}</td>
            <td>{{ consulta.celular }}</td>
            <td>{{ consulta.valor }}</td>
            <td><img src="{{base}}radiografia/{{consulta.imagen.split('/')[1]}}" class="img-radiografia"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
