<div class="container">
  <h3 class="header-title">Lista Paciente</h3>
  <div class="row">
    <div class="col-8">
      <a
        routerLink="/admin/clientes/crear"
        class="btn-create"><i class="fa fa-check"></i> Crear Paciente</a>
    </div>
    <div class="col-4">
      <form (submit)="buscar(valor)" class="form-inline" role="form">
        <div class="form-group">
          <input type="email" class="form-control" [(ngModel)]="valor" name="valor">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive" *ngIf="pacientes !== null">
        <table class="table table-hover">
          <thead style="background-color: #0f192a">
          <tr>
            <th>N.</th>
            <th>Razón Social</th>
            <th>Documento</th>
            <th>Fecha de Nacimiento</th>
            <th>Celular</th>
            <th>Genero</th>
            <th class="text-center">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cliente of pacientes.data; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cliente.razon_social }}</td>
            <td>{{ cliente.documento }}</td>
            <td>{{ cliente.fecha_nacimiento | date: 'dd/MM/y' }}</td>
            <td>{{ cliente.celular }}</td>
            <td>{{ cliente.genero }}</td>
            <td class="text-center">
              <button
                routerLink="/admin/clientes/editar/{{cliente.cliente_id}}"
                class="btn btn-xs btn-info">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button
                (click)="destroy(cliente, i)"
                class="btn btn-xs btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="pacientes !== null && pacientes.last_page > 1" class="pacientes text-center">
        <div>
          Página {{ pacientes.current_page }} de {{ pacientes.last_page }}
        </div>
        <button class="paginacion-btn" (click)="loadPagination(pacientes.first_page_url)"><i class="fa fa-backward"></i></button>
        <button class="paginacion-btn" (click)="loadPagination(pacientes.prev_page_url)" [disabled]="pacientes.prev_page_url === null"><i class="fa fa-chevron-left"></i></button>
        <button class="paginacion-btn" *ngFor="let page of pages" [class.activated]="page.page == pacientes.current_page" (click)="loadPagination(page.url)">{{ page.page }}</button>
        <button class="paginacion-btn" (click)="loadPagination(pacientes.next_page_url)" [disabled]="pacientes.next_page_url === null"><i class="fa fa-chevron-right"></i></button>
        <button class="paginacion-btn" (click)="loadPagination(pacientes.last_page_url)"><i class="fa fa-forward"></i></button>
      </div>
    </div>
  </div>
</div>
