<!-- Nav tabs -->
<ul class="nav nav-right nav-tabs|pills admin-nav" id="navId">
  <div class="banner__logo-box">
    <img src="/assets/img/logo.png" alt="Logo" class="banner__logo" width="180px">
  </div>
  <span class="space"></span>
  <li class="nav-item">
    <a routerLink="/nosotros"
       class="nav-link"
       [class.active]="router.url === '/nosotros'">Nosotros</a>
  </li>
  <li class="nav-item">
    <a routerLink="/contactos"
       class="nav-link"
       [class.active]="router.url === '/contactos'">Contactanos</a>
  </li>
  <!--<li class="nav-item dropdown">-->
    <!--<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"-->
       <!--aria-expanded="false"><span class="fa fa-user-circle"></span></a>-->
    <!--<div class="dropdown-menu">-->
      <!--<a class="dropdown-item" routerLink="/login"><i class="fa fa-user"></i> Iniciar Sesión</a>-->
    <!--</div>-->
  <!--</li>-->
</ul>
