.banner {
    top: 0;
    z-index: 1000;
    width: 100%;
    background-size: cover;
    position: fixed;
    box-sizing: border-box;
    padding-bottom: .8%;
    background-image: linear-gradient(to right, rgb(4, 9, 30), rgba(4, 9, 30,1));
}

.banner__logo-box {
    position: absolute;
    top: .41rem;
    left: .8rem;
    z-index: 101;
}

.banner__logo {
    height: 3.5rem;
}

.navegacion {
    position: relative;
    display: inline-block;
    list-style: none;
    float: left;
}
.navegacion li {
    display: inline-block;
    margin-left: 0;
    margin-top: 1.5rem;
}
.navegacion li:first-child {
    margin-left: 11rem;
}
.navegacion li a:link {
    text-decoration: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5rem .7rem;

}

.navegacion li a:hover {
    font-size: 1rem;
    color: #fff !important;
    border-radius: .3rem;
    background-color: #2163cc;
}

.boton {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: .5rem;
    margin-top: .3rem;
}

a.btn-login:visited, a.btn-login:link {
    padding: .5rem .5rem !important;
}

.btn-login:link {
    margin-right: .3rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ddd !important;
    font-size: .9rem;
}
.btn-login:hover, .btn-carrito:hover, .btn-deseo:hover {
    color: #fff !important;
    border-radius: .3rem;
    background-color: #2163cc;
}

