<div class="container">
  <h3>Editar Cliente</h3>
  <div class="row">
    <div class="offset-8 col-md-4">
      <form *ngIf="cliente !== null"
            [formGroup]="clienteGroup"
            (submit)="update()">
        <section class="form-group">
          <label for="nombres">Nombres</label>
          <input type="text" class="form-control" formControlName="nombres" name="nombres" id="nombres">
        </section>
        <section class="form-group">
          <label for="cedula">Cedula</label>
          <input type="text" class="form-control" formControlName="cedula" name="cedula" id="cedula">
        </section>
        <section class="form-group">
          <label for="fecha_nacimiento">Fecha Nacimiento</label>
          <input type="date" class="form-control" formControlName="fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento">
        </section>
        <section class="form-group">
          <label for="celular">Celular</label>
          <input type="text" class="form-control" formControlName="celular" name="celular" id="celular">
        </section>
        <section class="text-right">
          <button
            routerLink="/admin/clientes"
            class="btn btn-danger"> Cancelar</button>
          <button
            [disabled]="clienteGroup.status === 'INVALID'"
            class="btn btn-primary">Actualizar</button>
        </section>
      </form>
    </div>
  </div>
</div>
