<div class="container">
  <h3>Editar Cliente</h3>
  <div class="row">
    <div class="offset-8 col-md-4">
      <div class="card">
        <div class="card-body">
          <form *ngIf="cliente !== null"
                [formGroup]="clienteGroup"
                (submit)="update()">
            <legend>Editar Cliente</legend>
            <section class="form-group">
              <label for="nombres">Nombres</label>
              <input type="text" class="form-control" formControlName="nombres" name="nombres" id="nombres">
            </section>
            <section class="form-group">
              <label for="cedula">Cedula</label>
              <input type="text" class="form-control" formControlName="cedula" name="cedula" id="cedula">
            </section>
            <section class="form-group">
              <label for="fecha_nacimiento">Fecha Nacimiento</label>
              <input type="date" class="form-control" formControlName="fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento">
            </section>
            <section class="form-group">
              <label for="celular">Celular</label>
              <input type="text" class="form-control" formControlName="celular" name="celular" id="celular">
            </section>
            <section class="text-right">
              <a routerLink="/admin/clientes"
                class="btn-danger-link"> Cancelar</a>
              <button
                [disabled]="clienteGroup.status === 'INVALID'"
                class="btn btn-primary">Actualizar</button>
            </section>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
