<div class="container">
  <h3 class="header-title">Editar datos Paciente</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form *ngIf="cliente !== null"
                [formGroup]="clienteGroup"
                (submit)="update()">
            <div class="row">
              <div class="col-md-6">
                <section class="form-group">
                  <label for="tipo_documento">Tipo de Documento</label>
                  <select class="form-control" name="tipo_documento" id="tipo_documento">
                    <option value="cedula">Cedula</option>
                    <option value="ruc">RUC</option>
                    <option value="pasaporte">Pasaporte</option>
                  </select>
                </section>
                <section class="form-group">
                  <label for="documento">Documento</label>
                  <input type="text" class="form-control" formControlName="documento" name="documento" id="documento" maxlength="13">
                </section>
                <section class="form-group">
                  <label for="razon_social">Razón Social</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="razon_social" name="razon_social" id="razon_social">
                </section>
                <section class="form-group">
                  <label for="direccion">Dirección</label>
                  <input type="text" onKeyUp="this.value=this.value.toUpperCase();" class="form-control" formControlName="direccion" name="direccion" id="direccion">
                </section>
              </div>
              <div class="col-md-6">
                <section class="form-group">
                  <label for="fecha_nacimiento">Fecha Nacimiento</label>
                  <input type="date" class="form-control" formControlName="fecha_nacimiento" name="fecha_nacimiento" id="fecha_nacimiento">
                </section>
                <section class="form-group">
                  <label for="celular">Celular</label>
                  <input type="text" class="form-control" formControlName="celular" name="celular" id="celular" maxlength="10" onkeypress="if(event.keyCode < 45 || event.keyCode > 57) event.returnValue=false">
                </section>
                <section class="text-right">
                  <button [disabled]="clienteGroup.status === 'INVALID'"
                          class="btn btn-primary">Actualizar</button>&nbsp;&nbsp;
                  <a routerLink="/admin/clientes"
                     class="btn-danger-link"> Cancelar</a>
                </section>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
