<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Consultas
        </h1>
        <p class="text-white link-nav"><a routerLink="/">Sobre Nosotros </a>  <span class="lnr lnr-arrow-right"></span>Consultas</p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start contact-page Area -->
<section class="contact-page-area section-gap">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <h1>Mi historial</h1>
              <br>
              <form role="form">
                <div class="form-group">
                  <label>
                    Ingrese Cedula
                  </label>
                  <input type="email" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>
                    Seleccione Fecha
                  </label>
                  <input type="date" class="form-control"/>
                </div>


                <button type="submit" class="btn btn-primary">
                  Consultar
                </button>
              </form>
            </div>
            <div class="col-md-4">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fboris.almeida.75&tabs=timeline&width=0&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End contact-page Area -->