<br><br>
<div class="container">

    <div class="row">
      <br>
      <form (submit)="login()" [formGroup]="loginGroup">
          <div class="imgcontainer">
            <img src="assets/img/s1.jpg" alt="Avatar" class="avatar" height="150px">
          </div>
          <div class="container">
            <label><b>Usuario</b></label>
            <input type="email" class="form-control" placeholder="Ingrese usuario" name="email" formControlName="email" required>
              <small class="alert-danger" *ngIf="loginGroup.get('email').status ==='INVALID' && loginGroup.get('email').dirty">Correo invalido</small>
            <label><b>Contraseña</b></label>
            <input type="password" class="form-control" placeholder="Ingrese Contraseña" name="password" formControlName="password" required >
              <button [disabled]="loginGroup.status === 'INVALID'" type="submit" class="btn btn-primary">Ingresar</button>
          </div>
        </form>
    </div>
</div>
