<div class="container">
    <h3 class="header-title">Consultas Sucursal Ibarra</h3>

    <div class="container-fluid">
        <form [formGroup]="buscarGroup" (submit)="totalfactura()">
            <div class="row">

                    <div class="col-md-3">
                        <section class="form-group">
                            <label>Fecha Inicio</label>
                            <input type="date" class="form-control" formControlName="start" name="start" id="start">

                        </section>
                    </div>
                    <div class="col-md-3">
                        <section class="form-group">
                            <label>Fecha Inicio</label>
                            <input type="date" class="form-control" formControlName="end" name="end" id="end">
                        </section>
                    </div>
                    <div class="col-md-3">
                        <br>
                        <button class="btn btn-primary">Buscar</button>
                    </div>
            </div>
        </form>
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header">
                                Imagenes en proceso
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{sumradiografias}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header">
                                Imagenes Creadas
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{sumconsultas}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header">
                                Imagenes Eliminadas
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{diferencia}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <h5 class="card-header">
                                Valor Facturado
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    {{valor | currency : 'USD' : 'symbol' : '1.2'}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="container">-->
    <!--<h3 class="header-title">Consultas Sucursal Otavalo</h3>-->

    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-md-3">-->
                <!--<section class="form-group">-->
                    <!--<label>Fecha Inicio</label>-->
                    <!--<input type="date" class="form-control" formControlName="fecha_fin" name="fecha_inicio" value="{{CurrentDate | date:'yyyy-MM-dd'}}">-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<section class="form-group">-->
                    <!--<label>Fecha Inicio</label>-->
                    <!--<input type="date" class="form-control" formControlName="fecha_fin" name="fecha_fin" value="{{CurrentDate | date:'yyyy-MM-dd'}}">-->
                <!--</section>-->
            <!--</div>-->
            <!--<div class="col-md-3">-->
                <!--<br>-->
                <!--<button class="btn btn-primary">Buscar</button>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="container-fluid">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="card">-->
                            <!--<h5 class="card-header">-->
                                <!--Imagenes en proceso-->
                            <!--</h5>-->
                            <!--<div class="card-body">-->
                                <!--<p class="card-text">-->
                                   <!--0-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="card">-->
                            <!--<h5 class="card-header">-->
                                <!--Imagenes Creadas-->
                            <!--</h5>-->
                            <!--<div class="card-body">-->
                                <!--<p class="card-text">-->
                                    <!--0-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="card">-->
                            <!--<h5 class="card-header">-->
                                <!--Imgenes Eliminadas-->
                            <!--</h5>-->
                            <!--<div class="card-body">-->
                                <!--<p class="card-text">-->
                                   <!--0-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<div class="card">-->
                            <!--<h5 class="card-header">-->
                                <!--Valor Facturado-->
                            <!--</h5>-->
                            <!--<div class="card-body">-->
                                <!--<p class="card-text">-->
                                    <!--0-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->